


#banner img{
    width: 100%;
}
#banner .contenedor {
    font-size: 29px;
    position: absolute;
    top: 80%;
    left: 40%;
    color: rgb(60, 102, 102);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
