


#banner img{
    width: 100%;
}
#banner .contenedor {
    font-size: 30px; 
    position: absolute;
    top: 30%;
    left: 50%;
    color:#E1DE14;
    font-family: 'Arial'; 
    text-shadow: 9px 9px 9px #FF0000;
}

#banner .contenedor2 {
    font-size: 30px; 
    position: absolute;
    top: 70%;
    left: 5%;
    color:#f0f0ebfa;
    font-family: 'Arial'; 
    text-shadow: 9px 9px 9px #3d1111;
}